<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/web-server/public/img/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/IMG_1954.JPG" alt="dp">
    </div>
    

    {{!-- <h1>{{title}}</title></h1> --}}
    
    {{!-- <p>Created by {{name}}</p> --}}
    {{>footer}}
</body>
</html>