<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/web-server/public/img/weather.png">
</head>
<body>
    <div class="main-content">
      {{>header}}
      <p>{{msg}}</p>
      
      
      <form action="">
      <textarea name="help-bar" id="" cols="20" rows="3" class="hb"placeholder="Drop here..."></textarea>
      <br>
      <button>Submit</button>

    </form>
    </div>
    

    {{>footer}}
</body>
</html>